<!DOCTYPE html>
<html lang="en">
<!-- Kansas Boy -->

<head>
    <!-- Live.js -->
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.16.1"></script>
    <script src="js/live.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Vue.Lista</title>

    <!-- Boostrap 4.0.0 MIN CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Meu css -->
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div id="app">
        <div id="root" class="row">

            <div class="col-md-6">
                <div class="container">
                    <add-item></add-item>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container">
                    <list></list>
                </div>
            </div>
        </div>
    </div>

    <template id="add-item">

        <div class="form-group">
            <label for="">Digite o Nome da Empresa:</label>
            <input v-model="item" type="text" class="form-control" placeholder="Digite o nome">
            <label for="">Digite o Endereço:</label>
            <input type="search" v-model="endereco" id="address-input" class="form-control"
                placeholder="Digite o endereço" />

            <button @click.stop.prevent="submit()" class="btn btn-success btn-block">Enviar</button>
        </div>


    </template>
    <template id="list">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" v-for="item in listItens">
                <div class="w3-card-4" style="width:50%;">
                    <header class="w3-container w3-green">
                        <h1> {{ item.item }}</h1>
                    </header>
                    <div class="w3-container">
                        {{ item.endereco }}
                    </div>
                </div>
            </li>
        </ul>
    </template>


    <!-- <button @click.stop.prevent="clear()" class="btn btn-primary btn-block">Limpar</button> -->


    <!-- Vue v2.5.21 -->

    <script src="js/vue.js"></script>
    <script>
        Vue.component("add-item", {
            template: "#add-item",
            data() {
                return {
                    item: "",
                    endereco: ""
                }
            },
            methods: {
                submit() {
                    this.$eventHub.$emit('submit', this.item, document.getElementById("address-input").value);
                    this.item = "";
                    this.endereco = "";

                },
                clear(){
                    this.$eventHub.$emit('clear');
                }
            }
        });

        Vue.component("list", {
            template: "#list",

            data() {
                if (localStorage.getItem('listItens')) {
                    try {
                        console.log("Entrei aqui");
                        listItens = JSON.parse(localStorage.getItem('listItens'));
                        return { listItens: listItens }
                    } catch (error) {
                        localStorage.removeItem('listItens');
                    }
                } else {
                    return {
                        listItens: []
                    }
                }

            },
            created() {
                var app = this;
                this.$eventHub.$on('submit', function (item, endereco) {
                    app.listItens.push({
                        item: item,
                        endereco: endereco
                    });
                    const parsed = JSON.stringify(app.listItens);
                    localStorage.setItem('listItens', parsed);
                });
            }
        });

        Vue.prototype.$eventHub = new Vue();

        var app = new Vue({
            el: "#app"
        });
    </script>

    <script>
        var placesAutocomplete = places({
            appId: 'pl6B7D0HC9AF',
            apiKey: 'bc66c4830b8c47e8a2a82064a55105d3',
            container: document.getElementById('address-input')
        });
    </script>
</body>

</html>